<hello name="{{ name }}"></hello>
<p>
  masukkan input:
</p>
<input [(ngModel)]="a" type="text"> pangkat
  <input [(ngModel)]="b" type="text">
<button (click)="hitung(a,b)">tekan tombol</button>
  {{hasil}}
<ng-template *ngIf="hasil%2==0;then showBlock;else notshowBlock">
</ng-template>

<ng-template #showBlock>
  <p>genap gan</p>
  <button (click)="polaA(b,hasil)">pola A</button>
</ng-template>
<ng-template #notshowBlock>
  <p>ganjil gan</p>
  <button (click)="polaB(b,a)">pola B</button>
</ng-template>
<div id="Pola"></div>


